BasedOnStyle: LLVM
Language: Cpp
Standard: c++20

IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
ColumnLimit: 100

NamespaceIndentation: All
CompactNamespaces: false
FixNamespaceComments: true
ShortNamespaceLines: 0

BreakBeforeBraces: Custom
BraceWrapping:
  AfterNamespace: true
  AfterClass: false
  AfterStruct: false
  AfterUnion: false
  AfterEnum: false
  AfterFunction: false
  AfterControlStatement: Never
  AfterCaseLabel: false
  BeforeElse: false
  BeforeCatch: false
  BeforeWhile: false
  BeforeLambdaBody: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

IndentCaseLabels: true
IndentCaseBlocks: false
IndentPPDirectives: None

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<sys/'
    Priority: 1
  - Regex: '^<'
    Priority: 2
  - Regex: '^"'
    Priority: 3
